<html>
    <head>
        <link href="./bootstrap.css"  rel='stylesheet'>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    </head>
    <body>
        <nav class="navbar navbar-dark bg-dark navbar-expand-lg">   
            <a href="#" class="navbar-brand">bootstrap website</a>
           <div class="ml-auto">
            <ul class="navbar-nav">
                <li><a class="nav-link" href="./index.html">Home</a></li>
                <li><a class="nav-link" href="./about.html">About</a></li>
                <li><a class="nav-link" href="./services.html">Services</a></li>
                <li><a class="nav-link" href="./employees.html">Employees</a></li>
                <li><a class="nav-link" href="./contact.html">Contact</a></li>
                <li><a class="nav-link" href="./login.html">Login</a></li>
            </ul>
           </div>

        </nav>
        <div>
            <h1> Contact page</h1>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-6">
                    <form>
                        <div class="row">
                            <div class="col-4">
                                <div class="form-group">
                                    <label>Your Name:</label>
                                    <input type="text" class="form-control" placeholder="First name"/>
                                    <input type="text" class="form-control" placeholder="Last name"/>
                                </div>
                            </div>
                        </div><br>
                        <div class="row">
                            <div class="col-12">
                                <div class="form-group">
                                    <label>Email</label>
                                    <input type="email" class="form-control" placeholder="Enter email"/>
                                </div>
                            </div>
                        </div><br>
                        <div class="row">
                            <div class="col-4">
                                <div class="form-group">
                                    <label>Phone number</label>
                                    <input type="telephone number" class="form-control" placeholder="Enter phone number"/>
                                </div>
                            </div>
                        </div>
                        
                    </form>

                        
                </div>
                <div class="col-6">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d22602.21508421749!2d80.722810097648!3d16.468086004040764!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3a35fc618ec27f1d%3A0x68248f819a2dd7ca!2sDhanekula%20Institute%20of%20Engineering%20%26%20Technology!5e0!3m2!1sen!2sin!4v1694617472487!5m2!1sen!2sin" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                    
                </div>
            </div>
        </div>
        
    </body>
</html>