<html>
    <head>
        <link href="./bootstrap.css",rel='style sheet'>
    </head>
    <body>
        <nav class="navbar navbar-dark bg-dark navbar-expand-lg">
            <a href="#" class="navbar-brand">bootstrap website</a>
            <ul class="navbar-nav">
                <li><a class="nav-link" href="./index.html">Home</a></li>
                <li><a class="nav-link" href="./about.html">About</a></li>
                <li><a class="nav-link" href="./services.html">Services</a></li>
                <li><a class="nav-link" href="./employees.html">Employees</a></li>
                <li><a class="nav-link" href="./contact.html">Contact</a></li>
                <li><a class="nav-link" href="./login.html">Login</a></li>
            </ul>

        </nav>
        <div>
            <h1> Services page</h1>
        </div>
    </body>
</html>